.list {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
}

.item {
  list-style-type: none;
  margin: 10px 0;
}

.done {
  text-decoration: line-through;
}

.form {
  margin: 20px 0;
}

.bounce-enter-active {
  animation: bounce-in 0.9s;
}

.bounce-leave-active {
  animation: bounce-in 0.9s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}